examples {
  ["Empty class"] {
    """
    // Ref: Pkl class `ClassGen.test.EmptyClass`.
    export interface EmptyClass {
    }
    """
  }
  ["One-property class"] {
    """
    // Ref: Pkl class `ClassGen.test.OnePropertyClass`.
    export interface OnePropertyClass {
      name: string
    }
    """
  }
  ["Multi-property class"] {
    """
    // Ref: Pkl class `ClassGen.test.MultiPropertyClass`.
    export interface MultiPropertyClass {
      name: string
    
      age: number
    }
    """
  }
  ["Class with a listing proprety"] {
    """
    // Ref: Pkl class `ClassGen.test.WithListingClass`.
    export interface WithListingClass {
      name: string
    
      hobbies: Array<string>
    }
    """
  }
  ["Class with a mapping property"] {
    """
    // Ref: Pkl class `ClassGen.test.WithMappingClass`.
    export interface WithMappingClass {
      name: string
    
      siblingAges: Map<string, number>
    }
    """
  }
  ["Class with a nested mapping property"] {
    """
    // Ref: Pkl class `ClassGen.test.WithNestedMappingClass`.
    export interface WithNestedMappingClass {
      name: string
    
      siblings: Map<string, Map<string, number>>
    }
    """
  }
}
